{
  "printWidth": 800,
  "max-len": [
    2,
    {
      "code": 600,
      "tabWidth": 1,
      "ignoreUrls": true,
      "ignoreStrings": true
    }
  ],
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none"
}
